<div class="cards-wrapper">
    <div class="card">
        <img src="/frontend/public/assets/banano.png" alt="Banano" />
        <div class="card-info">
            <h3>Banano x 500g</h3>
            <p>Apróx... 3 uds</p>
            <strong>$ 2.079</strong>
        </div>
    </div>

    <div class="card">
        <img src="/frontend/public/assets/cafe.jpg" alt="Café" />
        <div class="card-info">
            <h3>Café x 100gr</h3>
            <p>Café en grano</p>
            <strong>$ 17.500</strong>
        </div>
    </div>

    <div class="card">
        <img src="/frontend/public/assets/posta.png" alt="Carne" />
        <div class="card-info">
            <h3>Carne de res posta x 1kg</h3>
            <p>Corte especial fresco</p>
            <strong>$ 34.200</strong>
        </div>
    </div>

    <div class="card">
        <img src="/frontend/public/assets/quesito.jpg" alt="Queso" />
        <div class="card-info">
            <h3>Queso x 1L</h3>
            <p>Delicioso Quesillo</p>
            <strong>$ 6.800</strong>
        </div>
    </div>
</div>