<div class="card-product">
    <img src="{{imgProd}}" alt="[Imagen de producto]" class="card-product__image" />

    <div class="card-product__info">
        <h3 class="card-product__title">{{title}}</h3>
        <p class="card-product__description">{{description}}</p>
        <strong class="card-product__price">{{price}}</strong>
    </div>
    
    <div class="buttons">
        <a href="#details">
            <button type="button" class="buttons__action--primary">Ver más</button>
        </a>
    </div>
</div>