<div id="msj-confirm__save-user" class="confirm-msj__view">
    <div class="confirm-msj__container">
        <h3 class="confirm-msj__title">¿Deseas guardar el registro del usuario?</h3>
        <div class="confirm-msj__actions">
            <a href="#">
                <button class="buttons__action--primary confirm-msj__btn--cancel">Aceptar</button>
            </a>
            <a href="/frontend/public/views/index_vanagro.html">
                <button class="buttons__action--secondary  confirm-msj__btn--accept">Cancelar</button>
            </a>
        </div>
    </div>
</div>

<div id="msj-confirm" class="confirm-msj__view">
    <div class="confirm-msj__container">
        <h3 class="confirm-msj__title">¿Deseas cancelar el registro del usuario?</h3>
        <div class="confirm-msj__actions">
            <a href="#">
                <button class="buttons__action--primary confirm-msj__btn--cancel">Aceptar</button>
            </a>
            <a href="/frontend/public/views/index_vanagro.html">
                <button class="buttons__action--secondary confirm-msj__btn--accept">Cancelar</button>
            </a>
        </div>
    </div>
</div>