<div>
    <div class="contact__container">
        <h2>CONTÁCTANOS</h2>
        <p>Estamos para ayudarte con pedidos, soporte y preguntas.</p>
    </div>
    <section class="form-container">
        <form action="#" method="" class="form-contact">
            <div class="group-input">
                <input type="text" placeholder="Nombres" required>
                <input type="text" placeholder="Apellidos" required>
            </div>

            <div class="group-input">
                <input type="tel" placeholder="Teléfono" required>
                <input type="email" placeholder="Correo Electrónico" required>
            </div>

            <textarea class="form-contact__text_help" placeholder="¿En qué podemos ayudarte?" required></textarea>

            <div class="buttons">
                <button type="submit" class="buttons__action--primary btn-send">Enviar</button>
                <button type="button" class="buttons__action--secondary btn-cancel" onclick="cancelarFormulario()">Cancelar</button>
            </div>
        </form>
    </section>
</div>