<div>
    <h2>Cliente</h2>
    <p>¡Tu visita nos alegra el día!, Gracias por apoyar a nuestros campesinos y ser parte de este mercado con alma rural.</p>

    <div class="fondo-cuenta"></div>

    <div class="cuenta-user">
        <div class="foto-user-cuenta">
            <img src="/frontend/public/assets/vanagro/avatar1.jpg" alt="Foto de usuario">
        </div>
        <div class="contenedor-info-user">
        <div class="info-user">
            <h3>Nombre del Usuario</h3>

            <p>Id</p>
            <p>Ubicacion:</p>
            <p>Telefono:</p>
            <p>Direccion:</p>   
            <p>Ciudad:</p>
            <div class="info-user-button">
            <button class="btn-editar-user" type="submit">Editar Perfil</button>
            <a href="/frontend/public/views/index_vanagro.html">
            <button class="btn-cerrar-sesion" type="submit">Cerrar Sesion</button>
            </a>
            </div>                                                
        </div>

        <div class="acciones-user">
            <div class="opciones-user">
                <input type="button"  value="Ver producto">
                <ion-icon name="eye-outline"></ion-icon>                
            </div>
            <div class="opciones-user">
                <input type="button"  value="Comparas/Pedidos">
                <ion-icon name="cart-outline"></ion-icon>                
            </div>
            <div class="opciones-user">
                <input type="button"  value="Ver Eventos">
                <ion-icon name="calendar-outline"></ion-icon>                
            </div>
            <div class="opciones-user">
                <input type="button"  value="Reportes">
                <ion-icon name="reader-outline"></ion-icon>                
            </div>
            <div class="opciones-user">
                <input type="button"  value="Ajustes">
                <ion-icon name="settings-outline"></ion-icon>                
            </div>
        </div>
        </div>