<footer class="footer-vanagro">
  <div class="footer-vanagro__contenido">
    <div class="footer-vanagro__text">    
    <p>© 2025 VANAGRO - Todos los derechos reservados</p>
    </div>
    <div class="footer-vanagro__social">
      <a href="https://www.instagram.com/" target="_blank" class="footer-vanagro__icono">
        <i class="fab fa-instagram"></i>
        <span>Vanagro_Risaralda</span>
      </a>
      <a href="https://www.facebook.com/" target="_blank" class="footer-vanagro__icono">
        <i class="fab fa-facebook"></i>
        <span>VANAGRO</span>
      </a>
      <a href="https://wa.me/573054411190" target="_blank" class="footer-vanagro__icono">
        <i class="fab fa-whatsapp"></i>
        <span>3054411190</span>
      </a>
    </div>
  </div>
</footer>

