<div class="forget__block" id="forget__block">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/contrasena.png" alt="">
        <div class="beginner-form__info forget__info">
            <label class="beginner-form__label">Correo electrónico</label>
            <input class="beginner-form__input" type="text" placeholder="Ingrese su correo electrónico" required>
        </div>
        <div class="buttons">
            <button class="buttons__action--secondary"
                onclick="location.href='javascript:history.back()'">Cancelar</button>
            <button class="buttons__action--primary" onclick="location.href='#forget__block2'">Enviar</button>
        </div>
    </div>
</div>

<div class="forget__block" id="forget__block2">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/token.png" alt="">
        <div class="beginner-form__info forget__info">
            <label class="beginner-form__label">Token</label>
            <input class="beginner-form__input" type="text" placeholder="Ingrese el token" required>
        </div>
        <div class="forget__buttons">
            <!-- <button class="buttons__action--secondary" onclick="location.href='javascript:history.back()'">Cancelar</button> -->
            <button class="buttons__action--primary" onclick="location.href='#forget__block3'">Verificar</button>
        </div>
    </div>
</div>

<div class="forget__block" id="forget__block3">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/confirmar.png" alt="">
        <div class="beginner-form__info forget__info">
            <div class="forget__input">
            <label class="beginner-form__label">Nueva contraseña</label>
            <input class="beginner-form__input" type="password" placeholder="Ingrese la nueva contraseña" required>
            </div>
            <div class="forget__input">
            <label class="beginner-form__label">Confirmar contraseña</label>
            <input class="beginner-form__input" type="password" placeholder="Confirmar la contraseña nueva" required>
            </div>
        </div>
        <div class="forget__buttons">
            <!-- <button class="buttons__action--secondary" onclick="location.href='javascript:history.back()'">Cancelar</button> -->
            <button class="buttons__action--primary recovery">Guardar Contraseña</button>
        </div>
    </div>
</div>