<div class="forget__block" id="forget__block">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/olvido_pass.png" alt="">
        <div class="beginner-form__info forget__info">
            <label class="beginner-form__label">Correo electronico</label>
            <input class="beginner-form__input" type="text" placeholder="Ingrese su correo electronico" required>
        </div>
        <div class="forget__buttons">
            <button class="buttons__action--secondary"
                onclick="location.href='javascript:history.back()'">Cancelar</button>
            <button class="buttons__action--primary" onclick="location.href='#forget__block2'">Enviar</button>
        </div>
    </div>
</div>

<div class="forget__block" id="forget__block2">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/olvido_pass.png" alt="">
        <div class="beginner-form__info forget__info">
            <label class="beginner-form__label">Token</label>
            <input class="beginner-form__input" type="text" placeholder="Ingrese el token" required>
        </div>
        <div class="forget__buttons">
            <!-- <button class="buttons__action--secondary" onclick="location.href='javascript:history.back()'">Cancelar</button> -->
            <button class="buttons__action--primary" onclick="location.href='#forget__block3'">Verificar</button>
        </div>
    </div>
</div>

<div class="forget__block" id="forget__block3">
    <div class="forget__block--view">
        <img class="forget__img" src="/frontend/public/assets/vanagro/olvido_pass.png" alt="">
        <div class="beginner-form__info forget__info">
            <div class="forget__input">
            <label class="beginner-form__label">Nueva contraseña</label>
            <input class="beginner-form__input" type="password" placeholder="Ingrese la contraseña nueva" required>
            </div>
            <div class="forget__input">
            <label class="beginner-form__label">Repita contraseña</label>
            <input class="beginner-form__input" type="password" placeholder="Repeita la contraseña nueva" required>
            </div>
        </div>
        <div class="forget__buttons">
            <!-- <button class="buttons__action--secondary" onclick="location.href='javascript:history.back()'">Cancelar</button> -->
            <button class="buttons__action--primary"
                onclick="location.href='/frontend/public/views/index_vanagro.html'">Guardar Contraseña</button>
        </div>
    </div>
</div>