<div class="form-register">
    <h2 class="form-register __title">Registro de Usuarios</h2>

    <form class="form-register__form" action="">

        <div class="form-register__container">

            <div class="form-register__fields">

                
                <input class="form-register__input"  type="text" placeholder="Ingrese sus nombres">
                <input class="form-register__input"  type="text" placeholder="Ingrese sus apellidos">

                <select class="form-register__select" name="tipo-docuemnto" >
                    <option value="cedula">Cédula de ciudadanía</option>
                    <option value="extranjero">Cédula de extranjería</option>
                    <option value="nit">NIT</option>
                </select>

                <input class="form-register__input"  id="numero-documento" type="text" placeholder="Ingrese su numero de docuemnto">

                <select class="form-register__select" name="departamento">
                    <option value="caldas">Caldas</option>
                    <option value="quindio">Quindío</option>
                    <option value="risaralda">Risaralda</option>
                </select>
                
                <select class="form-register__select" name="municipio" id="municipio">
                    <option value="pereira">Pereira</option>
                    <option value="manizales">Manizales</option>
                    <option value="armenia">Armenia</option>
                </select>
                <input class="form-register__input" type="email" placeholder="Correo Electrónico">
                <input class="form-register__input" type="text" placeholder="Ingresa tu dirección">
                <input class="form-register__input" type="text" placeholder="Ingresa tu número de teléfono">
                <input class="form-register__input" type="text" placeholder="Ingresa otro número de contacto ">
                <input class="form-register__input" type="password" placeholder="Ingresa tu contraseña">
                <input class="form-register__input" type="password" placeholder="Ingresa nuevamente la contraseña">
            </div>

            <div class="form-register__photo" aria-placeholder="Inserta tu foto">
                <input class="form-register__file" type="file">

            </div>
        </div>

        <div class="form-register__actions">
            <a href="#msj-confirm__save-user">
            <button type="button" class="buttons__action--primary btn-crear-user">Crear Usuario</button>
            </a>
            <a href="#msj-confirm">
                <button type="button" class="buttons__action--secondary btn-cancelar-user">Cancelar</button>
            </a>
        </div>
    </form>
</div>

