
<div class="form-register">
    <h2 class="form-register __title">Registro de Usuarios</h2>

    <form class="form-register__form" action="">
        <p class="form-register__label">Id:</p>

        <div class="form-register__container">

            <div class="form-register__fields">

                
                <input class="form-register__input"  type="text" placeholder="Ingrese sus nombres">
                <input class="form-register__input"  type="text" placeholder="Ingrese sus apellidos">

                <select class="form-register__select" name="tipo-docuemnto" >
                    <option value="cedula">Cedula de ciudadania</option>
                    <option value="extranjero">Cedula de extranjeria</option>
                    <option value="nit">NIT</option>
                </select>

                <input class="form-register__input"  id="numero-documento" type="text" placeholder="Ingrese su numero de docuemnto">

                <select class="form-register__select" name="departamento">
                    <option value="caldas">Caldas</option>
                    <option value="quindio">Quindio</option>
                    <option value="risaralda">Risaralda</option>
                </select>
                
                <select class="form-register__select" name="municipio" id="municipio">
                    <option value="pereira">Pereira</option>
                    <option value="manizales">Manizales</option>
                    <option value="armenia">Armenia</option>
                </select>
                <input class="form-register__input" type="email" placeholder="Ingrese su e-mail">
                <input class="form-register__input" type="text" placeholder="Ingrese su direccion">
                <input class="form-register__input" type="text" placeholder="Ingrese su numero de contacto">
                <input class="form-register__input" type="text" placeholder="Ingrese otro numero de contacto ">
                <input class="form-register__input" type="password" placeholder="Ingrese una contraseña">
                <input class="form-register__input" type="password" placeholder="Ingrese nuevamente la contraseña">
            </div>

            <div class="form-register__photo" aria-placeholder="Inserte foto">
                <input class="form-register__file" type="file">

            </div>
        </div>

        <div class="form-register__actions">
            <a href="#msj-confirm__save-user">
            <button type="button" class="buttons__action--primary btn-crear-user" >Crear Usuario</button>
            </a>
            <a href="#msj-confirm">
                <button type="button" class="buttons__action--secondary btn-cancelar-user">Cancelar</button>
            </a>
        </div>
    </form>
</div>

