<div class="hero__image">
    <div class="hero__content">
        <h2 class="hero__title">PRODUCTOR</h2>
        <p class="hero__description">Tu trabajo representa el alma del campo. Gracias por ser parte de esta comunidad
            que cultiva con amor</p>
    </div>
</div>

<div class="hero__options">
    <div class="account-user__option">
        <input class="account-user__input" type="button" value="Tus productos">
        <ion-icon class="account-user__icon" name="eye-outline"></ion-icon>
    </div>
    <div class="account-user__option">
        <input class="account-user__input" type="button" value="Pedidos">
        <ion-icon class="account-user__icon" name="cart-outline"></ion-icon>
    </div>
    <div class="account-user__option">
        <input class="account-user__input" type="button" value="Ver Eventos">
        <ion-icon class="account-user__icon" name="calendar-outline"></ion-icon>
    </div>
    <div class="account-user__option">
        <a class="hero__options--ref" href="/frontend/public/views/create-product.html">
        <input class="account-user__input" type="button" value="Crear Producto">
        </a>
        <ion-icon class="account-user__icon" name="storefront-outline"></ion-icon>
        
    </div>
    <div class="account-user__option">
        <input class="account-user__input" type="button" value="Reportes">
        <ion-icon class="account-user__icon" name="cash-outline"></ion-icon>
    </div>
    <div class="account-user__option">
        <a class="hero__options--ref" href="/frontend/public/views/edit-product.html">
        <input class="account-user__input" type="button" value="Editar Producto">
        </a>
        <ion-icon class="account-user__icon" name="build-outline"></ion-icon>
        
    </div>
</div>