<div class="inicio-sesion">

    <h2 class="inicio__subtitle">Iniciar Sesión</h2>

    <form action="#" method="">
        <label for="username">Usuario:</label><br>
        <input type="text" placeholder="Ingrese su usuario" required><br><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" placeholder="Ingrese su contraseña" required><br><br>

        <div class="inicio-button__enlaces">
        <button class="btn-iniciar" type="submit">Iniciar Sesión</button>

        <a href="">¿olvido la contraseña?</a>

        <button class="btn-crear"type="submit">Crear Sesion</button>
        </div>
    </form>


</div>