<div class="inicio-sesion">

    <h2 class="inicio__subtitle">Iniciar Sesión</h2>

    <form action="#" method="">
        <label>Usuario</label>
        <input id="usuario" type="text" placeholder="Ingrese su usuario" required><br><br>

        <label>Contraseña</label>
        <input id="password" type="password" placeholder="Ingrese su contraseña" required><br><br>

        <a href="">¿olvido la contraseña?</a>
        <div class="inicio-button__enlaces">
            <a href="/frontend/public/views/clients.html">
                <button class="btn-iniciar" type="button">Iniciar Sesión</button>
            </a>
                <!-- <button class="btn-iniciar" type="submit">Iniciar Sesión</button> -->
            <a href="/frontend/public/views/registro_usuario.html">
            <button type="button" class="btn-crear" >Crear Sesion</button>
            </a>               
        </div>        
    </form>
    

</div>