<div class="user-list">
  <h2 class="user-list__title">Lista de mis productos</h2>

  <table class="user-list__table">
    <thead>
      <tr class="user-list__row user-list__row--head">
        <th class="user-list__cell">ID</th>
        <th class="user-list__cell">Nombre</th>
        <th class="user-list__cell">U. medida</th>
        <th class="user-list__cell">precio</th>
        <th class="user-list__cell">stock</th>
        <th class="user-list__cell">Acciones</th>
        <th class="user-list__cell">Editar</th>
      </tr>
    </thead>
    <tbody id="user-table-body"></tbody>
  </table>
</div>

