<header class="header-logged-in">
    <div class="navbar-logged-in__container">
        <!-- Icono logout a la izquierda -->
        <div class="navbar-logged-in__logout">
            <a href="/frontend/public/views/logout.html" title="Cerrar sesión">
                <ion-icon name="arrow-undo-outline"></ion-icon>
            </a>
        </div>
        <div class="navbar-logged-in__brand">
            <h1 class="navbar-logged-in__title">VANAGRO</h1>
            <span class="navbar-logged-in__subtitle">Mercado Campesino</span>
        </div>
         <div class="navbar-logged-in__logout">
            <a href="/frontend/public/views/index_vanagro.html" title="Cerrar sesión">
                <ion-icon name="log-out-outline"></ion-icon>
            </a>
        </div>       
    </div>

    <!-- Menú inferior -->
    <nav class="navbar-logged-in">
        <ul class="navbar-logged-in__list">
        <li class="navbar-logged-in__item">
            <a href="/frontend/public/views/productos.html" class="navbar-logged-in__link">Productos</a>
        </li>
        <li class="navbar-logged-in__item">
            <a href="#" class="navbar-logged-in__link">Eventos</a>
        </li>
        <li class="navbar-logged-in__item">
            <a href="/frontend/public/views/profile.html" class="navbar-logged-in__link">Perfil</a>
        </li>
        </ul>
    </nav>
</header>