<header class="header-vanagro">
    <a href="/frontend/public/views/index_vanagro.html">
        <ion-icon name="log-in-outline"></ion-icon>
    </a>

    <h1 class="navbar-vanagro__title">VANAGRO
        <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
    </h1>

    <img class="header__carrito" src="/frontend/public/assets/vanagro/carrito2x48.png" alt="">

    <!-- <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/fast-cart.png" alt="fast-cart"/> -->

    <!-- <button id="uno" class="button-vanagro">Abrir</button> -->
    <nav id="nav1" class="navbar-vanagro">
        <!-- <button id="dos" class="navbar__button">cerrar</button> -->
        <ul class="navbar-vanagro__list">
            <li class="navbar-vanagro__item sesion2">
                <a href="/frontend/public/views/index_vanagro.html" class="navbar-vanagro__link">Iniciar Sesión</a>
            </li>
            <li class="navbar-vanagro__item">
                <a href="#" class="navbar-vanagro__link">Nosotros</a>
            </li>
            <li class="navbar-vanagro__item">
                <a href="/frontend/public/views/productos.html" class="navbar-vanagro__link">Productos</a>
            </li>

            <li class="navbar-vanagro__item">
                <a href="#" class="navbar-vanagro__link">Eventos</a>
            </li>
            <li class="navbar-vanagro__item">
                <a href="/frontend/public/views/contact-vanagro.html" class="navbar-vanagro__link">Contacto</a>
            </li>
            <li class="navbar-vanagro__item carrito">
                <a href="#" class="navbar-vanagro__link">Carrito</a>
            </li>
        </ul>
    </nav>

</header>