<header class="header-vanagro">
    <div class="navbar-vanagro__container--simple">        
        <div class="navbar-vanagro__container--title">
            <h1 class="navbar-vanagro__title">VANAGRO
                <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
            </h1>
        </div>
        <div class="navbar-vanagro__icons">
            <a href="javascript:history.back()">
                <!-- <ion-icon name="person-circle-outline" class="navbar-vanagro__icons--simple"></ion-icon> -->
                <img class="navbar-vanagro__login" src="/frontend/public/assets/vanagro/campesino.jpg" alt="">
            </a>
        </div>
    </div>    
</header>