<div class="password-change" id="password">
    <form action="" class="password-change__form">
        <div class="password-change__group">
            <label class="password-change__label">Contraseña Actual
                <input class="password-change__input" type="password" placeholder="Ingrese su contraseña actual">
            </label>

            <label class="password-change__label">Nueva Contraseña
                <input class="password-change__input" type="password" placeholder="Ingrese su nueva contraseña">
            </label>

            <label class="password-change__label">Confirmar Nueva Contraseña
                <input class="password-change__input" type="password" placeholder="Confirme su nueva contraseña">
            </label>
        </div>

        <div class="password-change__actions">
            <button type="button" class="buttons__action--secondary btn-cancel"
                onclick="location.href='javascript:history.back()'">Cancelar</button>
            <button type="button" onclick="location.href='javascript:history.back()'" class="buttons__action--primary btn-save password-change-alert">Guardar cambios</button>
        </div>
    </form>
</div>
