<div class="profile__producter--container">
	<!-- Portada con leyenda -->
	<div class="profile__producter--hero">
		<div class="profile__producter--legend">
			<h2 class="profile__producter--role">TIENDA / PRODUCTOR</h2>
			<p class="profile__producter--message">
				Tu trabajo representa el alma del campo. Gracias por ser parte de esta
				comunidad que cultiva con amor
			</p>
		</div>
	</div>

	<!-- Contenido principal -->
	<div class="profile__producter--content">
		<!-- Columna izquierda: datos del productor -->
		<div class="profile__producter--block">
			<div class="profile__producter--info">
				<div class="profile__info--img">
					<img class="profile__avatar" src="/frontend/public/assets/vanagro/campesino.jpg"
						alt="Foto del productor">
					<h3 class="profile__name">Johan David Portilla Zambrano</h3>
					<p class="profile__joined">Se unió en 2025</p>
				</div>
				<div class="profile__info--block profile-2">
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Tipo Documento</label>
						<p class="profile__info--name">Cedula</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Numero Documento</label>
						<p class="profile__info--name">1.154.123.145</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Departamento</label>
						<p class="profile__info--name">Risaralda</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Municipio</label>
						<p class="profile__info--name">Marsella</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Direccion</label>
						<p class="profile__info--name">calle 58 # 42-12 B/ El carme de dd d ld misiones</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Correo electronico</label>
						<p class="profile__info--name">johandp@gmail.com</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Telefono</label>
						<p class="profile__info--name">3252152545</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Telefono alterno</label>
						<p class="profile__info--name"></p>
					</div>
				</div>
			</div>
			<!-- </div> -->
			<div class="profile__producter--info-2">
				<div class="profile__producter--info-head">
					<img class="profile__producter--avatar" src="/frontend/public/assets/farms/finca5.jpg"
						alt="Foto de la finca" />
					<h3 class="profile__producter--name">Finca las Bovinas</h3>
					<p class="profile__producter--joined">Desde 1997</p>
				</div>
				<div class="profile__info--name2">
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Departamento</label>
						<p class="profile__info--name">Risaralda</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Municipio</label>
						<p class="profile__info--name">Marsella</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Vereda</label>
						<p class="profile__info--name">Las palmas</p>
					</div>
					<div class="profile__info--space">
						<label class="profile__info--label" for="">Descripcion</label>
						<p class="profile__info--name">Finca dedicada a la producción de carne de
						res y café, comprometida con la calidad, el cuidado del medio ambiente y
						las tradiciones del campo colombiano 🐮🌱</p>
					</div>					
				</div>
			</div>
		</div>

		<div class="profile__producter--actions">
			<button class="profile__producter--action"
				onclick="location.href='/frontend/public/views/create-product.html'">
				<ion-icon name="add-circle-outline"></ion-icon>
				<span>Agregar Producto</span>
			</button>

			<button class="profile__producter--action"
				onclick="location.href='/frontend/public/views/edit-product.html'">
				<ion-icon name="create-outline"></ion-icon>
				<span>Editar Producto</span>
			</button>
			<button class="profile__producter--action">
				<ion-icon name="business-outline"></ion-icon>
				<span>Ver Empresas</span>
			</button>

			<button class="profile__producter--action"
				onclick="location.href='/frontend/public/views/list-products.html'">
				<ion-icon name="calendar-outline"></ion-icon>
				<span>Listar Productos</span>
			</button>

			<button class="profile__producter--action" onclick="location.href='#report'">
				<ion-icon name="document-text-outline"></ion-icon>
				<span>Reportes</span>
			</button>

			<button class="profile__producter--action"
				onclick="location.href='/frontend/public/views/edit-producter.html'">
				<ion-icon name="settings-outline"></ion-icon>
				<span>Ajustes</span>
			</button>
		</div>

    </div>
    
    <div class="profile__report" id="report">
    <div class="profile__report--photo">
      <div class="profile__report--phpto-head">
        <img class="profile__report--img" src="/frontend/public/assets/vanagro/reporte.jpg" alt="">
        <div class="profile__report--close">
        <ion-icon onclick="location.href='javascript:history.back()'"  name="close-outline"></ion-icon>
        </div>
      </div>
      <div class="buttons">
        <button class="buttons__action--primary" onclick="location.href='javascript:history.back()'">
          <ion-icon name="print-outline"></ion-icon>
          <span>Imprimir</span>
        </button>
        <button class="buttons__action--primary" onclick="location.href='javascript:history.back()'"> 
          <ion-icon name="download-outline"></ion-icon>
          <span>Descargar</span>
        </button>
      </div>
    </div>
  </div>
</div>