<div class="profile_producter--container">

  <!-- Portada con leyenda -->
  <div class="profile_producter--hero">
    <div class="profile_producter--legend">
      <h2 class="profile_producter--role">PRODUCTOR</h2>
      <p class="profile_producter--message">
        Tu trabajo representa el alma del campo. Gracias por ser parte de esta comunidad
      que cultiva con amor
      </p>
    </div>
  </div>

  <!-- Contenido principal -->
  <div class="profile_producter--content">

    <!-- Columna izquierda: datos del productor -->
    <div class="profile_producter--info">
      <img class="profile_producter--avatar" src="/frontend/public/assets/vanagro/campesino.jpg" alt="Foto del productor">
      <h3 class="profile_producter--name">Julio Armando Cifuentes Correa</h3>
      <h3 class="profile_producter--name">Finca las Bovinas</h3>
      <p class="profile_producter--joined">Se unió en 2025</p>
      <p class="profile_producter--detail"><strong>UBICACIÓN:</strong> Vereda las Palmas - Marsella, Risaralda</p>
      <p class="profile_producter--detail"><strong>CORREO:</strong> julioac@gmail.com</p>
      <p class="profile_producter--detail"><strong>TELÉFONO:</strong> 3054331178</p>
    </div>


    <div class="profile_producter--actions">
        <button class="profile_producter--action" onclick="location.href='/frontend/public/views/create-product.html'">
            <ion-icon name="add-circle-outline"></ion-icon>
            <span>Agregar Producto</span>
        </button>

        <button class="profile_producter--action" onclick="location.href='/frontend/public/views/edit-product.html'">
            <ion-icon name="create-outline"></ion-icon>
            <span>Editar Producto</span>
        </button>
        <button class="profile_producter--action">
            <ion-icon name="business-outline"></ion-icon>
            <span>Ver Empresas</span>
        </button>

        <button class="profile_producter--action" onclick="location.href='/frontend/public/views/list-products.html'">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>Listar Productos</span>
        </button>

        <button class="profile_producter--action" onclick="location.href='#report'">
            <ion-icon name="document-text-outline"></ion-icon>
            <span>Reportes</span>
        </button>

        <button class="profile_producter--action" onclick="location.href='/frontend/public/views/edit-producter.html'">
            <ion-icon name="settings-outline"></ion-icon>
            <span>Ajustes</span>
        </button>

    </div>
    
    <div class="profile__report" id="report">
    <div class="profile__report--photo">
      <div class="profile__report--phpto-head">
        <img class="profile__report--img" src="/frontend/public/assets/vanagro/reporte.jpg" alt="">
        <div class="profile__report--close">
        <ion-icon onclick="location.href='javascript:history.back()'"  name="close-outline"></ion-icon>
        </div>
      </div>
      <div class="profile__buttons">
        <button class="buttons__action--primary" onclick="location.href='javascript:history.back()'">
          <ion-icon name="print-outline"></ion-icon>
          <span>Imprimir</span>
        </button>
        <button class="buttons__action--primary" onclick="location.href='javascript:history.back()'"> 
          <ion-icon name="download-outline"></ion-icon>
          <span>Descargar</span>
        </button>
      </div>
    </div>
  </div>
</div>