<section id="details" class="details">
    <div class="details__block">
        <div class="details__image">
            <img class="details__image--img" src="\frontend\public\assets\products\platanos-verdes.jpg" alt="Plátano Verde">
            <!-- <button class="details__close" id="close-payment">&times;</button> -->
        </div>

        <div class="details__info">
            <h2 class="details__title">Plátano Verde</h2>
            <div class="details__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <span class="details__rating-text">(4.0)</span>
            </div>
            <p class="details__price">$3.200</p>

            <p class="details__description">
                Plátano verde ideal para freír o hervir.
                Seleccionado cuidadosamente por productores locales, conserva su frescura y calidad para ofrecer un
                sabor auténtico y nutritivo.
                Plátano verde ideal para freír o hervir.
                Seleccionado cuidadosamente por productores locales, conserva su frescura y calidad para ofrecer un
                sabor auténtico y nutritivo.
                Plátano verde ideal para freír o hervir.
                Seleccionado cuidadosamente por productores locales, conserva su frescura y calidad para ofrecer un
                sabor auténtico y nutritivo.
            </p>

            <div class="details__actions">
                <a href="/frontend/public/views/products.html">
                <button class="buttons__action buttons__action--secondary" type="button">Volver</button>
                </a>
                <a href="/frontend/public/views/shopping-cart.html">
                <button class="buttons__action buttons__action--primary">Añadir al carrito</button>
                </a>
            </div>
        </div>
    </div>
</section>