<section id="details" class="details">
    <div class="details__block">
        <div class="details__image">
            <img class="details__image--img" src="\frontend\public\assets\products\platanos-verdes.jpg"
                alt="Plátano Verde">
            <!-- <button class="details__close" id="close-payment">&times;</button> -->
        </div>

        <div class="details__info">
            <h2 class="details__title">Plátano Verde</h2>
            <div class="details__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <span class="details__rating-text">(4.0)</span>
            </div>
            <p class="details__price">$3.200</p>

            <p class="details__description">
                <strong>Vendido por:</strong> Natalia Agudelo.
                <br>
                <strong>Ubicación:</strong> Finca La Macarena.
                <br>
                <strong>Método de envío:</strong> Entrega a domicilio en 24-48 horas dentro del área metropolitana o
                retiro en punto de venta.
                <br>
                <strong>Métodos de pago:</strong> Aceptamos pagos en efectivo, transferencia bancaria y tarjetas de
                crédito/débito.
                <br><br>
            </p>

            <div class="buttons">
                <a href="javascript:history.back()">
                    <button class="buttons__action--secondary" type="button">Volver</button>
                </a>
                <a href="/frontend/public/views/shopping-cart.html">
                    <button class="buttons__action--primary">Comprar</button>
                </a>
            </div>
        </div>
    </div>
</section>