<div class="purchase-details">
    <h2 class="purchase-details__title">Detalles del Pedido</h2>

    <div class="purchase-details__grid">
        
        <div class="purchase-card">
            <h3>Información del Comprador</h3>
            <p><strong>Nombre:</strong> Juan Pérez</p>
            <p><strong>Identificación:</strong> CC 145498145</p>
            <p><strong>Correo:</strong> juanperez@gmail.com</p>
            <p><strong>Ubicación:</strong> Pereira - Risaralda</p>
            <p><strong>Dirección:</strong> calle 58 # 42-12</p>
            <p><strong>Teléfono:</strong> 301 555 8899</p>
        </div>


        <div class="purchase-card">
            <h3>Información de la Tienda</h3>
            <img class="purchase-card--img" src="/frontend/public/assets/farms/finca5.jpg" alt="Foto de la finca">
            <p><strong>Nombre:</strong> Finca Las Bovinas</p>
            <p><strong>Ubicación:</strong> Marsella, Risaralda</p>
            <p><strong>Responsable:</strong> Julio Armando Cifuentes Correa</p>
            <p><strong>Contacto:</strong> julioac@gmail.com / 312 444 9876</p>
        </div>

        <div class="purchase-card">
            <h3>Información del Producto</h3>
            <img class="purchase-card--img" src="/frontend/public/assets/products/banano.png" alt="Foto de fruta">
            <p><strong>Producto:</strong> Banano</p>
            <p><strong>Cantidad:</strong> 5 kg</p>
            <p><strong>Precio Unitario:</strong> $2.080 COP</p>
        </div>


        <div class="purchase-card">
            <h3>Información de la Compra</h3>
            <p><strong>Fecha:</strong> 20/11/2025</p>
            <p><strong>Hora:</strong> 15:52:34 pm</p>
            <p><strong>Total:</strong> $10.400 COP</p>
            <p><strong>Medio de pago:</strong> Contra Entrega</p>
            <p><strong>Método de envío:</strong>Domicilio</p>
            <p><strong>Estado:</strong> Confirmada</p>
        </div>
    </div>
</div>
