<div class="product-edit">
  <h2 class="product-edit__title">Edición de Productos</h2>
  <p class="product-edit__subtitle">
    Realiza los cambios necesarios y haz clic en <strong>Guardar cambios</strong>.
  </p>

  <form action="#" method="post" class="product-edit__container" enctype="multipart/form-data">
    
    <!-- Nombre, medida y precio -->
    <div class="product-edit__row">
      <label class="product-edit__label">
        Nombre del producto
        <input class="product-edit__input" type="text" placeholder="Plátano verde" value="Plátano verde" required />
      </label>

      <label class="product-edit__label">
        Unidad de medida
        <select class="product-edit__select product-edit__select--unit" required>
          <option value="kg">Kilogramos</option>
          <option value="und" selected>Unidades</option>
          <option value="lt">Litros</option>
          <option value="lb">Libras</option>
        </select>
      </label>

      <label class="product-edit__label">
        Precio x unidad
        <input class="product-edit__input" type="number" value="3000" required />
      </label>
    </div>

    <!-- Descripción -->
    <label class="product-edit__label">
      Descripción del Producto
      <textarea class="product-edit__textarea" required>Plátano verde fresco, ideal para freír o cocinar.</textarea>
    </label>

    <!-- Tipo de producto -->
    <div class="product-edit__row product-edit__row--checkbox">
      <span class="product-edit__label">Tipo de Producto:</span>
      <label><input type="checkbox" /> Carnes</label>
      <label><input type="checkbox" checked /> Frutas</label>
      <label><input type="checkbox" /> Granos</label>
      <label><input type="checkbox" /> Lácteos</label>
      <label><input type="checkbox" /> Verduras</label>
    </div>

    <!-- Fechas -->
    <div class="product-edit__dates">
      <h3 class="product-edit__dates-title">Caducidad</h3>

      <div>
        <p class="product-edit__label">Fecha de Elaboración</p>
        <input type="date" class="product-edit__dates-input" value="2025-05-24" required />
      </div>

      <div>
        <p class="product-edit__label">Fecha de Vencimiento</p>
        <input type="date" class="product-edit__dates-input" value="2025-06-01" required />
      </div>
    </div>

    <!-- Imagen -->
    <div class="product-edit__image">
      <label class="product-edit__image-upload">
        <span>Imagen del producto</span>
        <div class="product-edit__image-preview">
        </div>
      </label>
    </div>

    <!-- Botones -->
    <div class="product-edit__actions">
      <button class="product-edit__button product-edit__button--cancel" type="reset">Cancelar</button>
      <button class="product-edit__button product-edit__button--primary" type="submit">Guardar cambios</button>
    </div>
  </form>
</div>

<!-- Enlace al JS -->
<script src="/frontend/public/js/pages/product-edit.js" defer></script>
