<div class="user-list">
  <h2 class="user-list__title">Lista de pedidos</h2>

  <table class="user-list__table">
    <thead>
      <tr class="user-list__row user-list__row--head">
        <th class="user-list__cell">Id Pedido</th>
        <th class="user-list__cell">Fecha Pedido</th>
        <th class="user-list__cell">Nombre Producto</th>
        <th class="user-list__cell">Valor</th>
        <th class="user-list__cell">Acciones</th>
      </tr>
    </thead>
    <tbody id="user-table-body"></tbody>
  </table>
</div>