<div class="search-wrapper">
    <div class="search">
        <input type="text" class="search__input" placeholder="Buscar tiendas...">
        <button class="search__button" type="submit">
            <ion-icon name="search-outline" class="search__button-icon"></ion-icon>
        </button>
    </div>

    <ul class="search__categories">
        <li class="search__category">Pereira</li>
        <li class="search__category">Dosquebradas</li>
        <li class="search__category">Santa Rosa</li>
    </ul>
    
</div>