<div class="search-wrapper">
    <div class="search">
        <input type="text" class="search__input" placeholder="Buscar productos...">
        <button class="search__button" type="submit">
            <ion-icon name="search-outline" class="search__button-icon"></ion-icon>
        </button>
    </div>

    <ul class="search__categories">
        <li class="search__category">Frutas</li>
        <li class="search__category">Verduras</li>
        <li class="search__category">Lácteos</li>
        <li class="search__category">Carnes</li>
        <li class="search__category">Granos</li>
    </ul>
    
</div>