
    <div class="session-beginer">

        <h2 class="session__subtitle">Iniciar Sesión</h2>

        <form class="beginner-form" action="#" method="">
            <div class="beginner-form__credential">
                <div class="beginner-form__info">
                    <label class="beginner-form__label">Usuario</label>
                    <input class="beginner-form__input" type="text" placeholder="Ingrese su usuario" required>
                </div>

                <div class="beginner-form__info">
                    <label class="beginner-form__label">Contraseña</label>
                    <input class="beginner-form__input" type="password" placeholder="Ingrese su contraseña" required>
                </div>
            </div>

            <a class="begin-lost_password" href="">¿Olvidaste la contraseña?</a>
            <div class="beginner-button__links">
                <a href="/frontend/public/views/account-user.html">
                    <button class="buttons__action--primary btn-beginner" type="button">Iniciar Sesión</button>
                </a>
                <!-- <button class="btn-iniciar" type="submit">Iniciar Sesión</button> -->
                <a href="/frontend/public/views/register-user.html">
                    <button type="button" class="buttons__action--secondary btn-make">Crear Cuenta</button>
                </a>
            </div>
        </form>
    </div>
