<div class="account-user__container">
    <div class="account-user__hero">
        <div class="account-user__title">
            <h2 class="account-user__subtitle">Cliente</h2>
            <p class="account-user__legend">¡Tu visita nos alegra el día! Gracias por apoyar a nuestros campesinos y por
                ser
                parte de este mercado con alma rural.</p>
        </div>
        <img class="account-user__img" src="/frontend/public/assets/vanagro/avatar1.jpg" alt="Foto de usuario">
    </div>



    <div class="account-user__info">
        <div class="account-user__info--data">
            <h3 class="account-user__name">Nombre del Usuario</h3>
            <p class="account-user__legend">Id:</p>
            <p class="account-user__legend">Ubicación:</p>
            <p class="account-user__legend">Teléfono:</p>
            <p class="account-user__legend">Dirección:</p>
            <p class="account-user__legend">Ciudad:</p>
            <div class="account-user__button">
                <a href="/frontend/public/views/edit-producter.html">
                    <button class="buttons__action--primary  account-user__button--edit" type="submit">Editar Perfil</button>
                </a>
                <a href="/frontend/public/views/index_vanagro.html">
                    <button class="buttons__action--secondary account-user__button--close" type="submit">Cerrar
                        Sesión</button>
                </a>
            </div>
        </div>

        <div class="account-user__actions">
            <div class="account-user__option">
                <input class="account-user__input" type="button" value="Ver productos">
                <ion-icon class="account-user__icon" name="eye-outline"></ion-icon>
            </div>
            <div class="account-user__option">
                <input class="account-user__input" type="button" value="Compras/Pedidos">
                <ion-icon class="account-user__icon" name="cart-outline"></ion-icon>
            </div>
            <div class="account-user__option">
                <input class="account-user__input" type="button" value="Ver Eventos">
                <ion-icon class="account-user__icon" name="calendar-outline"></ion-icon>
            </div>
            <div class="account-user__option">
                <input class="account-user__input" type="button" value="Reportes">
                <ion-icon class="account-user__icon" name="reader-outline"></ion-icon>
            </div>
            <div class="account-user__option">
                <input class="account-user__input" type="button" value="Ajustes">
                <ion-icon class="account-user__icon" name="settings-outline"></ion-icon>
            </div>
        </div>
    </div>