<div class="welcome__container">
    <div class="welcome__head">
        <div class="welcome__photo"></div>
        <div class="welcome__leyenda">
            <p>Vanagro es una aplicacion para la ayuda del campesinado colombiano en la optencion de un comercio mas
                efectivo y directo con los clientes</p>
        </div>
    </div>


    <div class="welcome__msj" id="msj">
        <div class="welcome__msj--conatainer">
            <div class="welcome__msj--opacity">
                <ion-icon onclick="location.href='#msj'" name="close-outline"></ion-icon>
                <div>
                    <h1 class="navbar-vanagro__title">Bienvenidos a VANAGRO
                        <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

</div>