.session__container{
    /* margin-bottom: -1rem; */
    padding: 0;
    background-image: url(/frontend/public/assets/vanagro/image1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9; 
        
}

.beginner-form__info{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.beginner-form{
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
}

.beginner-form__credential{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 24px;
}

.beginner-form__label{
    font-size: var(--fs-xxxs);
    margin-bottom: 4px;    
    color: var(--white);
    text-align: left;
}

.beginner-form__input{
    min-width: 320px;
    padding: 1rem;
    height: 48px;
    border-radius: 1rem;
    background-color: var(--white);    
}

.session-container__beginer{
    /* forma de centrar objetos dentro del contenedor 
    display: flex;
    justify-content: center;
    align-items: center;*/
    /* otra forma es asi  */
    display: grid;
    place-content: center;
    height: 100%;
    font-size: var(--fs-sm);
    
}

.session__subtitle{
    margin: 0;
    padding: 1rem;
    color: var(--white);
    font-size: var(--fs-md);
}

.session-beginer{
    /* background-color: rgba(59, 59, 59, 0.8); */
    background-color: rgba(var(--filter-gray-900-rgb), 0.8);
    position: relative;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-400);    
    margin:  1rem 0; 
    padding: 24px 0;
    width: 100%;    
    height:auto;
    text-align: center;
    /* opacity: 0.5; */
    /* z-index: 1000; */
    
    /* forma de centrar objetos pero q esten sobre los demas objetos
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* z-index: 100; */    
}



.beginner-button__links{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    gap: 24px; 
    margin: 2rem 0;
    padding: 1rem 0; 
}


.begin-lost_password{
    text-decoration: none;
    color: var(--white); 
    font-size: var(--fs-xxs);   
}

.begin-lost_password:hover{
    color: var(--secundary-950);
}

@media (width >= 768px) {

    .session-beginer{    
    width: 640px;    
    
    }
    
    .beginner-button__links{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    gap: 2rem;   
    margin: 1rem 0;
    }

    /* .beginner-form__info {
        width: 640px;
        align-items: center;
    } */

    /* .beginner-form__input{
        max-width: 320px;
    } */

    .beginner-form__label{
        text-align: left;

    }

    
    
}