body {
    background-color: var(--gray-50);
    font-family: var(--main-font);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* evita scroll horizontal */
    min-height: 100vh; /* asegura que ocupe toda la pantalla */
}

.contact-form {
    background-color: var(--white);
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    max-width: 712px;
    margin: 20px auto; /* centrado con espacio superior */
    display: grid;
    gap: 24px;
    font-size: var(--fs-xs);
}

.contact-form__title {
    text-align: center;
    color: var(--black);
    font-size: var(--fs-sm);
}

.contact-form__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form__row {
    display: grid;
    gap: 24px;
}

.contact-form__row--full {
    grid-template-columns: 1fr !important;
}


/* ---- RESPONSIVO ---- */
@media (width > 768px) {
    .contact-form__row {
        grid-template-columns: 1fr 1fr;
    }

    /* .buttons {
        flex-direction: row;
        justify-content: space-evenly;
    } */
}

@media (max-width: 480px) {
    .contact-form {
        padding: 16px;
        gap: 16px;
    }

    /* .btn-send {
        width: 100%;
    } */
}

/* ---- LABELS E INPUTS ---- */
.contact-form__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: var(--fs-xxxs);
    color: var(--black);
}

.contact-form__input,
.contact-form__textarea {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--black);
    width: 100%;
    font-size: var(--fs-xs);
    transition: all 0.3s ease;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    border-color: var(--primary-900);
    outline: none;
}

.contact-form__textarea {
    min-height: 100px;
    resize: vertical;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    color: var(--gray-800);
    font-size: var(--fs-xs);
}