.footer-vanagro {
  background-color: var(--primary-900);
  color: var(--black);
  padding: 1rem;
  
}

.footer-vanagro__content {  
  display: grid;
  place-content: center;  
}

.footer-vanagro__text {
  margin-bottom: -1rem;
  font-size: var(--fs-xs);
  text-align: center;
}

.footer-vanagro__social {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}

.footer-vanagro__icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--black);
  text-decoration: none;
  font-size: var(--fs-xs);
  font-weight: 500;
}

.footer-vanagro__icon i {
  font-size: 18px;
}


@media (width > 768px) {

  .footer-vanagro__content {
    display: flex;
    justify-content: space-between;
  }

  .footer-vanagro__social {
    flex-direction: row;
    margin: 1rem;
    gap: 4rem;
  }

}