.session__container{
    /* margin-bottom: -1rem; */
    padding: 0;
    background-image: url(/frontend/public/assets/vanagro/image1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
        
}

.session-beginer label{
    display: flex;    
    width: 20rem;
    padding: 0 3rem;
    color: var(--white);
    text-align: left;
}


.session-container_beginer{
    /* forma de centrar objetos dentro del contenedor 
    display: flex;
    justify-content: center;
    align-items: center;*/
    /* otra forma es asi  */
    display: grid;
    place-content: center;
    height: 100%;
    font-size: var(--fs-sm);
    
}

.session__subtitle{
    margin: 0;
    padding: 1rem;
    color: var(--gray-700);
}


.session-beginer{
    background-color: rgba(216, 248, 227, 0.5);
    position: relative;
    border: 2px solid black;
    border-radius: 5rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-400);
    
    margin:  3rem 1rem;
    padding: 2rem;
    width: 35rem;    
    height: auto;
    text-align: center;
    
    /* forma de centrar objetos pero q esten sobre los demas objetos
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* z-index: 100; */    
}

.session-beginer input{
    padding: 1rem;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--gray-200);    
}



.beginner-form input{
    height: 48px;
}   

.beginner-button__links{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    gap: 2rem; 
    margin: 2rem 0;
    padding: 1rem 0; 
}

.beginner-button__links button{
    padding: 1rem;
    width: 15rem;
    height: 48px;
    border-radius: 1rem; 
    font-size: var(--fs-xs); 
    cursor: pointer;    
}

.btn-beginner{
    background-color: var(--primary-950);
}

.btn-beginner:hover{
    background-color: var(--primary-800);
    color: var(--white);
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-400) ;
}

.btn-make{
    background-color: var(--secundary-950);
}

.btn-make:hover{
    background-color: var(--secundary-800);
    color: var(--gray-400);
    box-shadow: 0.5rem 0.5rem 1rem var(--secundary-400) ;
}

.begin-lost_password{
    text-decoration: none;
    color: var(--terciary-800); 
    font-size: var(--fs-md);   
}

.begin-lost_password:hover{
    color: var(--secundary-950);
}

@media (width > 768px) {

    .session-beginer{
    margin: 2rem;
    padding: 3rem;
    width: 40rem;    
    height: 40rem;
    }
    
    .beginner-button__links{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 2rem;   
    margin: 1rem 0;
    }

    .session-beginer label{
    display: flex;    
    width: 20rem;
    padding: 0 3rem;
    color: var(--white);
    }

    
}