.producter-register__title{
    text-align: center;
    color: var(--gray-900);
    margin-bottom: 10px;
    font-size: var(--fs-md);
    font-weight: bold;
}

.producter-register__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray-800);
    margin: 2rem;
    width: 90%;   
    height: 400px;
    /* margin-bottom: 10px; */
    overflow: auto;
}

.producter-register__label{
    text-align: left;
    width: 80%;
    font-size: var(--fs-xs);
    color: var(--gray-900);
    margin-bottom: 5px;
}

.producter-register__container{
    display: flex;    
    flex-direction: column;
    align-items: center;  
}

.producter-register__fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2rem;
    gap: 1.5rem;
}

.producter-register__input,
.producter-register__select
 {
    width: 200px;
    height: 32px;
    background-color: var(--secundary-400);
    /* border: 1px solid var(--gray-900); */
    border-radius: 5px;
}


.producter-register__file{    
    background-image: url(/frontend/public/assets/vanagro/camara.svg);
    background-repeat: no-repeat;
    background-size: 128px;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 20px 10px;
    align-content: flex-end;
    background-color: var(--white);
}


.producter-register__actions{
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* justify-content: center; */
    gap: 2rem; 
    margin: 2rem 0;
    padding: 1rem 0;
    text-decoration: none;
}

.producter-register__button{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* border-radius: 2rem;  */
    font-size: var(--fs-xs); 
    cursor: pointer;
    gap: 2rem;
    
}

/* ---------------------------------------------------------------- */

.producter-register__identification{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: baseline;
    justify-content: space-evenly;
    gap: 1rem;
    width: 90%;
}

.producter-register__info {
    font-size: var(--fs-xs);
    width: 300px;
    margin-left: 2rem;
}


.producter-register__photo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.producter-register__fields-farm{ 
        display: grid;   
        justify-content: center;
        width: 90%;
        padding: 2rem;
        gap: 2rem;
        align-items: center;
    }



.producter-register__file-farm{    
    background-image: url(/frontend/public/assets/vanagro/camara.svg);
    background-repeat: no-repeat;
    background-size: 128px;
    width: 200px;
    height: 150px;
    padding: 5px;
    margin: 20px 10px;
    align-content: flex-end;
    text-align: center;
    background-color: var(--white);
}

.producter-register__location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.location-map p{    
    text-align: center;
}

.producter-register__map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem 0;
    border: 2px solid var(--black);
}


@media (width > 768px){

    .producter-register{
        display: grid;
        place-content: center;
        height: 100%;
        width: 100%;
    }

    .producter-register__form{
        height: auto;
        width: 700px;
        overflow: visible;
    }

    .producter-register__fields{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    width: 90%;
    padding: 2rem;
    gap: 1.5rem;
    }

    .producter-register__container{
    flex-direction: row;
    align-items: flex-start;
    }

    .producter-register__actions{
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        align-items: center;
    }



    .producter-register__button{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content:space-between;
    width: 70%;
    gap: 4rem; 
    margin: 2rem 0;
    padding: 1rem 0;
    }

/* --------------------------------------------------- */
    .producter-register__identification{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    }

    .producter-register__fields-farm{ 
        display: grid;   
        align-items: center;
        width: 90%;
        padding: 2rem;
        gap: 2rem;
    }




    .producter-register__file-farm{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    }




    .producter-register__producter-location{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    /* width: 100%; */
    }


}