.producter-register {
    display: grid;
    height: 100%;
    width: 100%;
    /* gap: 24px; */
}

.producter-register__title {
    color: var(--black);
    margin-top: 24px;
    font-size: var(--fs-xs);
    font-weight: bold;
}

.producter-register__form {
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-800);
    margin-bottom: 24px;
    overflow: auto;
}

.producter-register__identification {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    width: 100%;
}

.producter-register__info {
    width: 100%;
    margin-left: 16px;
}

.producter-register__label {
    text-align: left;
    font-size: var(--fs-xs);
    color: var(--gray-900);
}

.producter-register__photo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.producter-register__image {
    width: 128px;
}

.producter-register__file-farm {
    width: 90%;
    font-size: var(--fs-xxs);
    text-align: center;
    margin: 16px;
}

.producter-register__farm-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    gap: 24px;
    width: 100%;
}

.producter-register__fields-farm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 90%; */
    gap: 16px;
}

.producter-register__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 24px;
}

.producter-register__button {
    display: flex;
    flex-direction: column;
    /* margin: 10px;     */
    /* gap: 2rem; */

}


.producter-register__map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    border: 2px solid var(--black);
}


@media (width >=768px) {

    .producter-register {
        place-content: center;
    }

    .producter-register__form {
        height: auto;
        /* width: 700px; */
        overflow: visible;
        padding: 20px;
    }

    .producter-register__fields-farm {
        padding-left: 24px;
        align-items: start;
    }

    .producter-register__location {
        margin: 0 16px;
    }

    .producter-register__farm-location {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .producter-register__actions {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }



    .producter-register__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        gap: 4rem;
        margin: 2rem 0;
        padding: 1rem 0;
    }


    .producter-register__identification {
        flex-direction: row;
    }

    .producter-register__file-farm {
        text-align: center;
    }


}