body {
  background-color: var(--gray-50);
  font-family: var(--main-font);
  text-align: center;
}

.cart button {
  cursor: pointer;
}

.cart__actions{
  display: flex;
  justify-content: space-between;
}

/* .cart {
  padding: 24px;
} */

.cart__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  padding: 12px;
  font-weight: bold;
  background: var(--primary-300);
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}


.cart__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--fs-sm);
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart__summary {
  margin-top: 20px;
  padding: 15px;
  background: var(--primary-300);
  border-radius: 4px;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-sm);
  font-weight: bold;
  /* margin-bottom: 15px; */
}

/* ====== PRODUCT CARD ====== */
.product-card {
  display: grid;
  /* grid-template-columns: 0fr 0.5fr 1fr 0.5fr 1fr 0fr; */
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background: var(--white);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 1);
}

.product-card__image {
  width: 80px;
  height: 80px;
  /* object-fit: cover; */
  border-radius: 4px;
  grid-column: 1 / 2;
  
}

.product-card__info {
  margin: 0;
}

.product-card__title {
  margin: 0;
  font-size: var(--fs-xs);
  font-weight: bold;
}

.product-card__measure,
.product-card__price,
.product-card__store {
  font-size: var(--fs-xs);
  margin: 3px 0;
}

.product-card__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-card__btn {
  padding: 5px 10px;
  border: 1px solid var(--gray-50);
  background: var(--gray-50);
}

.product-card__remove {
  border: none;
  background: transparent;
  font-size: var(--fs-md);
  color: var(--black);
}

@media screen and (max-width: 767px) {
  
  .cart__header {
    display: none; /* Ocultamos el header con columnas en móviles */
  }

  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    margin: 0 auto;
    box-sizing: border-box;
  }

  .product-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .product-card__quantity {
    justify-content: flex-start;
  }

  .cart__total {
    flex-direction: column;
  }

  .cart__button {
    width: 100%;
    margin-top: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
