<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/frontend/public/js/components/form-contact-vanagro.js" defer></script>
    <script src="/frontend/public/js/components/vanagro-navbar2.js" defer></script>
    <script src="/frontend/public/js/components/footer_vanagro.js" defer></script>

</head>

<body>

    <header class="header-vanagro">
        <div class="navbar-vanagro-container"></div>
    </header>

    
    <br>
    <h2>CONTÁCTANOS</h2>
    <br>
    <p>Estamos para ayudarte con pedidos, soporte y preguntas.</p>

    <div class="section-contacto">
    <section class="formulario-container">
        <form class="formulario-contacto">
            <div class="grupo-input">
                <input type="text" placeholder="Nombres" required>
                <input type="text" placeholder="Apellidos" required>
            </div>

            <div class="grupo-input">
                <input type="tel" placeholder="Teléfono" required>
                <input type="email" placeholder="Correo Electrónico" required>
            </div>

            <textarea placeholder="¿En qué podemos ayudarte?" required></textarea>

            <div class="botones">
                <button type="submit" class="btn-enviar">Enviar</button>
                <button type="button" class="btn-cancelar" onclick="cancelarFormulario()">Cancelar</button>
            </div>
        </form>
    </section>
    </div>
    

    <footer class="footer-vanagro-container"></footer>

</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>