<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <!-- Script de javaScript para el llamado de la clase navbar y renderizar automaticacminet con el defer -->
    <script src="/frontend/public/js/components/vanagro-navbar.js" defer></script>
</head>
<body>
    <header class="header-vanagro">
        <div class="navbar-vanagro-container"></div>
    </header>
    <h1>Estoy en vanagro contact</h1>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

</html>